/* General */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fffefe;
  color: #333;
}

.container {
  margin-top: 3.8em;
  max-width: 56em;
  padding: 1.2em;
  background: #f8f7f7;
  border-radius: 0.5em;
  border: 0.02em solid;
  box-shadow: 0.625em 0.625em 0.2em rgba(0, 0, 0, 0.1);
}

/* Título en negro con espaciado */
h1 {
  text-align: center;
  color: #000000; /* Cambio a color negro */
  margin-bottom: 1.4em; /* Separación entre el título y los botones */
  margin-top: 0.6em;
  font-weight: bold;
  font-size: 2.2em;
}

/* Subtítulo */
h2 {
  color: #5bc0de;
}

/* Botones */
.button-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2.5em;
}

.custom-btn {
  background-color: #0079fb;
  color: #ffffff;
  padding: 0.9em 0.6em;  
  font-size: 1.15em;
  border-radius: 0.8em;
  transition: background-color 0.6s ease;
  border: 0.05em solid rgb(0, 0, 0);
}

.custom-btn:hover {
  background-color: #0056b3;
}

/* Botón Back en rojo */
.back-btn {
  background-color: #dc3545; /* Rojo */
  color: #fff;
  border: 0.05em solid rgb(0, 0, 0);
  padding: 0.7em 1.1em;
  font-size: 1.1em;
  border-radius: 0.8em;
  transition: background-color 0.6s ease;
}

.back-btn:hover {
  background-color: #a71d2a; /* Rojo oscuro al hacer hover */
}

/* Botón Buscar en verde */
.search-btn {
  background-color: #28a745; /* Verde */
  color: #fff;
  border: 0.05em solid rgb(0, 0, 0);
  padding: 0.7em 1.1em;
  font-size: 1.1em;
  border-radius: 0.8em;
  transition: background-color 0.6s ease;
}

.search-btn:hover {
  background-color: #218838; /* Verde oscuro al hacer hover */
}

/* Botón Crear Usuario alineado a la derecha en Agregar Usuario */
.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25em;
}

/* Botón Crear Usuario estilo */
.submit-btn {
  background-color: #007bff;
  color: #fff;
  border: 0.05em solid rgb(0, 0, 0);
  padding: 0.7em 1.1em;
  font-size: 1.1em;
  border-radius: 0.8em;
  transition: background-color 0.6s ease;
}

.submit-btn:hover {
  background-color: #0056b3; /* Azul oscuro al hacer hover */
}

/* Tabla */
.table {
  width: 100%;
  margin-top: 1.25em;
  border-radius: 0.5em;
  overflow: hidden;
}

.table th, .table td {
  text-align: center;
  padding: 0.75em;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.table-striped tbody tr:hover {
  background-color: #d6e9f9;
}