@if(view == 'default'){
  <div class="container view-container text-center">
      <h1>Gestión de usuarios</h1>
      <div class="button-group">
        <button class="btn custom-btn" (click)="setView('lista'); getAllUsuario()">Lista de usuarios</button>
        <button class="btn custom-btn" (click)="setView('buscar')">Buscar usuario</button>
        <button class="btn custom-btn" (click)="setView('agregar'); initForm()">Agregar Usuario</button>
      </div>
  </div>
}

@if (view == 'lista'){
  <div class="container view-container">
      <h1>Lista de Usuarios</h1>
  
      <table class="table table-striped">
          <thead>
              <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Email</th>
                  <th scope="col">Rol</th>
                  <th scope="col">Acción</th>
              </tr>
          </thead>
          <tbody>
              @for (usuario of usuarioList; track $index) {
                  <tr>
                      <th scope="row">{{usuario.id_usuario}}</th>
                      <td>{{usuario.usuario}}</td>
                      <td>{{usuario.email}}</td>
                      <td>{{usuario.rol}}</td>
                      <td>
                        <button class="btn btn-info" [routerLink]="['/usuarios', usuario.id_usuario]">Detalles</button>
                      </td>
                  </tr>
              }
          </tbody>
      </table>
      <button class="back-btn" (click)="setView('default')">Back</button>
  </div>
  }
  
@if (view == 'buscar') {
  <div class="container view-container">
    <h2>Buscar Usuario</h2>
      <div class="row justify-content-center mt-5">
        <div class="col-auto">
          <form class="row g-2">
            <div class="col-auto">
              <label for="inputId" class="visually-hidden">Ingrese el ID</label>
              <input [(ngModel)]="id" name="inputId" type="text" class="form-control" id="inputId" placeholder="Ingrese el ID">
            </div>
            <div class="col-auto">
              <button type="button" class="search-btn mb-3"  (click)="getOneUsuario();">Buscar</button>
            </div>
          </form>
        </div>
      </div>
    
  @if(usuario)
      {<div  class="row justify-content-center">
          <div class="col-auto">
              <table class="table table-striped">
              <thead>
                  <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Email</th>
                  <th scope="col">Rol <br>(Admin|Usuario)</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Fecha Registro</th>
                  <th scope="col">Fecha Nacimiento</th>
                  <th scope="col">DNI</th>
                  <th scope="col">Numero Pasaporte</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                  <th scope="row">{{ usuario.id_usuario }}</th>
                  <td>{{ usuario.usuario }}</td>
                  <td>{{ usuario.email }}</td>
                  <td>{{ usuario.rol }}</td>
                  <td>{{ usuario.telefono }}</td>
                  <td>{{ usuario.fecha_registro | date:'yyyy-MM-dd HH:mm'}}</td>
                  <td>{{ usuario.fecha_nacimiento | date:'yyyy-MM-dd' }}</td>
                  <td>{{ usuario.dni }}</td>
                  <td>{{ usuario.numero_pasaporte }}</td>
                  </tr>
              </tbody>
              </table>
          </div>
          
    <div class="button-group">
      <button class="custom-btn" (click)="modificarUsuario(true); initForm(); populateForm()">Modificar</button>
      <button class="custom-btn" (click)="deleteUsuario(); setView('default')">Eliminar</button>
    </div>

          
          @if(modificar && usuario){
            <div class="container mt-5">
              <form [formGroup]="usuarioForm" (ngSubmit)="updateUsuario()">
                <div class="form-group">
                  <label for="usuario">Usuario</label>
                  <input id="usuario" type="text" formControlName="usuario" class="form-control" required />
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input id="email" type="email" formControlName="email" class="form-control" required />
                </div>
                <div class="form-group">
                  <label for="fecha_registro">Fecha de Registro</label>
                  <input id="fecha_registro" type="datetime-local" formControlName="fecha_registro" class="form-control" required />
                </div>
                <div class="form-group">
                  <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                  <input id="fecha_nacimiento" type="date" formControlName="fecha_nacimiento" class="form-control" required />
                </div>
                <div class="form-group">
                  <label for="rol">Rol</label>
                  <input id="rol" type="text" formControlName="rol" class="form-control" required />
                </div>
                <div class="form-group">
                  <label for="telefono">Teléfono</label>
                  <input id="telefono" type="text" formControlName="telefono" class="form-control" required />
                </div>
                <div class="form-group">
                  <label for="dni">DNI</label>
                  <input id="dni" type="number" formControlName="dni" class="form-control" required />
                </div>
                <div class="form-group">
                  <label for="numero_pasaporte">Numero Pasaporte</label>
                  <input id="numero_pasaporte" type="text" formControlName="numero_pasaporte" class="form-control" required />
                </div>

                <button type="submit" class="btn btn-success mt-3" (click)="modificarUsuario(false)">Guardar Cambios</button>
              </form>
            </div>
          }
        </div>}  


    <button class="back-btn" (click)="setView('default'); modificarUsuario(false)">Back</button>

  </div>
}

@if(view == 'agregar'){
<div class="container view-container">
  <h1>Crear Usuario</h1>
  <form [formGroup]="usuarioForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="usuario">Usuario</label>
      <input id="usuario" type="text" formControlName="usuario" class="form-control" placeholder="Usuario" required />
    </div>
    
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" class="form-control" placeholder="Email" required />
    </div>

    <div class="form-group">
      <label for="rol">Rol</label>
      <input id="rol" type="text" formControlName="rol" class="form-control" placeholder="Rol" required />
    </div>

    <div class="form-group">
      <label for="dni">DNI</label>
      <input id="dni" type="number" formControlName="dni" class="form-control" placeholder="DNI" required />
    </div>

    <div class="form-group">
      <label for="telefono">Teléfono</label>
      <input id="telefono" type="text" formControlName="telefono" class="form-control" placeholder="Teléfono" required />
    </div>

    <div class="form-group">
      <label for="fecha_registro">Fecha de Registro</label>
      <input id="fecha_registro" type="datetime-local" formControlName="fecha_registro" class="form-control" required />
    </div>

    <div class="form-group">
      <label for="fecha_nacimiento">Fecha de Nacimiento</label>
      <input id="fecha_nacimiento" type="date" formControlName="fecha_nacimiento" class="form-control" required />
    </div>
    
    <div class="form-group">
      <label for="numero_pasaporte">Numero Pasaporte</label>
      <input id="numero_pasaporte" type="text" formControlName="numero_pasaporte" class="form-control"  placeholder="Numero Pasaporte"  required />
    </div>

    <div class="button-row">
      <button type="submit" class="submit-btn">Crear Usuario</button>
    </div>

  </form>
  <button class="back-btn mt-2" (click)="setView('default')">Back</button>
</div>
}
