* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {font-size: 2em}
h2 {font-size: 1.7em;    margin:0}
h3 {font-size: 1.2em;}
p {font-size: 1.2em}

button{
    color:white;
    background-color: rgb(149, 72, 221);
    border-radius: 0.8em;
    padding: 0.8em 1.6em;
    font-weight: bold;
    box-shadow: 0.1em 0.1em 0.2em rgb(46, 46, 46);
    font-size: 1em;
    border: 0.1em solid rgb(57, 57, 57)
}   

button:hover{
    background-color: rgb(173, 134, 209);
}

header {
    background-color:rgba(217, 213, 213, 0.693);
}

header .logo{
    color:blueviolet;
    margin: 0;
    padding: 0.6em 1em;
    font-weight: bold;
    font-size: 1.6em;
}

header .container-general-menu{
    flex-direction: column;
    display: flex;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0.1em;
}

header a{
    padding: 0.2em 0.1em;
    text-decoration: none;
    font-weight: bold;
    color:black;
}

header a:hover{
    color:rgba(150, 150, 150, 0.538)
    
}

#hero h1{
    color:rgb(248, 235, 252);
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 75vh;
    background-image: linear-gradient(
            0deg,
            rgba(2, 2, 2, 0.61),
            rgba(10, 10, 10, 0.512)
        ),
        url("media/aeropuerto.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
}


#Somos .container-somos {
    text-align: center;
    padding: 2em 1em; /* Reduce el espacio interno */
}

#Somos h2 {
    font-size: 1.5em; /* Disminuye el tamaño del texto */
    margin-top: 1em; /* Añade un pequeño margen superior */
}
