<header>
    <div class="container-general-menu">
      <p class="logo">Viaja Ya!</p>
      <nav>
        <a (click)="navigateToAeropuertos()">Aeropuertos</a>
        <a (click)="navigateToQuienesSomos()">Quienes somos</a>
        <a (click)="navigateToAtencionCliente()">Atención al cliente</a>
      </nav>
    </div>
  </header>

  <section id="hero">
    <h1>Viaja con nosotros</h1>
    <button (click)="navigateToVuelos()">Ver vuelos disponibles</button>
  </section>

  <section id="Somos">
    <div class="container-somos">
      <div class="img-container"></div>
      <h2>Somos Somalia Airline</h2>
      <p>Cambiar</p>
    </div>
  </section>

  <section id="Nuestros-programas">
    <div class="container">
      <!-- Aquí puedes agregar el contenido adicional -->
    </div>
  </section>